body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #2b1120;
    color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.logo img {
    height: 40px;
}

.upbars-container {
    list-style: none;
    display: flex !important;
    margin: 0;
    justify-content: center;
    color: #ffffff;
    align-content: center;
    flex-wrap: wrap !important;

}

/* .hidden{
    display: block;
} */

nav ul li {
    margin: 0.2rem !important;
    display: inline;
    font-size: 14px;
    font-weight: 600;
    padding: 0;
    list-style: none;
    justify-content: center;
    align-content: center;
}

.upbars-flex {
    color: #ffffff;
    text-decoration: none;
    font-weight: normal;
    display: flex;
    justify-self: center;
    align-content: center;
}

.category {
    color: #ff4b2b;
    font-weight: bold;
    font-size: 18px;
    text-align: center;

}

.article-text{
    /* text-align: center; */
    font-size: 10px;
    font-weight: 500;
    padding: 2rem;
  
    /* margin-right: 2px; */
}

.article-h1 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
/* .container{
   
    margin: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
} */
/* .article-text{
    padding: 3rem;
    text-align: start;
} */

.author-info {
    font-size: 14px;
    margin-bottom: 5px;
    text-align: center;
}

.author {
    color: #ff4b2b;
}


.date {
    font-size: 12px;
    margin-bottom: 20px;
}

.main-article-image {
    width: 700px;
    height: 400px;
    display: block;
    margin: auto;

}

.image-caption {
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
}

.article-text {
    font-size: 16px;
}

.main-image {
    width: 700px;
    height: 400px;
    display: block;
    margin: auto;

}

.share-section {
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
}

.social-links {
    /* margin-left: 15px; */
    color: #910b0b;
    text-decoration: none;
    font-size: 14px;
    gap: 20px;
}

.social-links-box {
    /* margin-left: 15px; */
    width: 50px;
    height: auto;
    padding: 10px;
    border-radius: 50px;

}

.newsletter-form {
    background-color: #ffe6e6;
    padding: 5px;
    border-radius: 8px;
    /* width: 100%; */
    max-width: 400px;
    /* align-items: center !important; */
    margin: 0 auto ;
   
    text-align: center;
    color: black;

}


.form2 {
    max-width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;


}

form input,
form select {
    padding: 12px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background: orangered;
}

.tech-image {
    width: 700px;
    height: 400px;
    display: block;
    margin: auto;

}

.h4-text {
    text-align: right;
    color: white;
    font-size: 12px;
}

.newsletter-banner {
    height: 400px;
    width: 100%;
    display: block;
    margin: auto;
    border: 2px block;
}
.footer-left,
    .footer-right {
        margin-right: 0;
        margin-bottom: 0%;
        align-items: center;
    }

.footer-right {
    max-width: 100%;
    text-align: right;
    margin: 0;
    padding: 20px;
}

.follow {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: bold;
    
}

.social-icons {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
    color: red;
}

.social-icons a img {
    width: 24px;
    height: 24px;

}

footer p {
    font-size: 14px;
}
@media (max-width: 768px) {
    .techcabal-footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .newsletter-banner {
    height: 400px;
    width: 100%;
    display: block;
    margin: auto;
    border: 2px block;
}

    body {
        background-color: #ffffff !important;
        color: #000;
    }

    header {
        flex-direction: column;
        text-align: center;
        padding: 5px !important;
    }
    .h4-text{
        color: #000;
    }

    .upbars-container {
        margin-top: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav ul li {
        margin: 5px 10px;
    }

    .main-article-image,
    .main-image,
    .tech-image {
        width: 95%;
        height: auto;
    }

    .article-h1 {
        font-size: 20px;
    }

    .article-text {
        font-size: 14px;
        padding: 0 15px;
    }

    .footer-left,
    .footer-right {
        margin-right: 0;
        margin-bottom: 20px;
        align-items: center;
    }

    .footer-right {
        align-items: center;
    }

    .social-media {
        text-align: center;
    }

    .social-icons {
        justify-content: center;
    }

    .hidden {
        display: none;
    }

}


footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #000;

}

.footer-left {
    max-width: 50%;
}

.logo img {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}

.footer-left p {
    max-width: 400px;
    font-size: 14px;

}

.footer-right {
    max-width: 55%;
    text-align: right;
}

.follow {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: bold;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    color: red;
}

.social-icons a img {
    width: 24px;
    height: 24px;

}

footer p {
    font-size: 14px;
}

.main-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: #f0371d;
    text-decoration: none;
    font-weight: bold;
}
